@inject IJSRuntime JsRuntime

<div>
    <div class="alert alert-info">@Title</div>

    <div class="alert alert-success">
        @if (DangerChildContent == null)
        {
            @if (ChildContent == null)
            {
                <span>Ini RenderFragmentnnya kosong</span>
            }
            else
            {
                <span>@ChildContent</span>
            }
        }
        else
        {
            <span>@DangerChildContent</span>
        }

    </div>
    <buttton class="btn btn-danger" @onclick="OnClickBtnMethod">Button to be clicked</buttton>

    <GrandChildComponent ></GrandChildComponent>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    //Untuk renderfragment (mengisi konent diantara child component)
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment DangerChildContent { get; set; }

    //anotherway to eventcallback
    [Parameter]
    public EventCallback<MouseEventArgs> OnClickBtnMethod { get; set; }

    public async Task ShowToastrSuccess()
    {
        await JsRuntime.ToastrSukses("SUKSES, Ini Perintahnya dari Child");
    }

}
