<div class="row">
    <h4 class="text-primary pl-4 pt-2 col-12">Grand Child Component</h4>
    <br />
    <pre>Ada Pesan - @PesanUntukGrandChild</pre>
</div>

@code {
    [CascadingParameter]
    public string PesanUntukGrandChild { get; set; }
}
