@using Model
<div class="bg-light border p-2 col-5 offset-1" @onclick="(args)=>AmenitySelectionChanged(args,Amenity.Name)">
    <h4 class="text-secondary">Amenity - @Amenity.Id</h4>
    @Amenity.Name<br />
    @Amenity.Description<br />
    @*Assignment 6 start*@
    RF Dari - @KesatuFragment @KeduaFragment
</div>

    

    @code {
        [Parameter]
        public Amenity Amenity { get; set; }

        [Parameter]
        public EventCallback<string> OnAmeniySelection { get; set; }

        //Assignment 6 start
        [Parameter]
        public RenderFragment KesatuFragment { get; set; }
        [Parameter]
        public RenderFragment KeduaFragment { get; set; }
        //Assignment 6 end

        protected async Task AmenitySelectionChanged(MouseEventArgs e, string name)
        {
            await OnAmeniySelection.InvokeAsync((string)name);
        }


    }
