@page "/blazorjs"
@inject IJSRuntime JsRuntime

<h3>BlazorJs</h3>

<div class="row">
    <button class="btn btn-secondary" @onclick="TestKonfirmasi">Test Confirm Button</button>
</div>
<div class="row">
    <button class="btn btn-primary" @onclick="TesSukses">Test Confirm Button</button>
</div>
<div class="row">
    <button class="btn btn-danger" @onclick="TesGagal">Test Confirm Button</button>
</div>

<div class="row">
    @if (Konfirmasi)
    {
        <p>Terkonfirmasi</p>
    }
    else
    {
        <p>Belum Terkonfirmasi</p>
    }
</div>

@code {

    public string PesanKonfirmasi = "Yakin mau klik?";
    private bool Konfirmasi { get; set; }
    private async Task TestKonfirmasi()
    {
        Konfirmasi = await JsRuntime.InvokeAsync<bool>("confirm", PesanKonfirmasi);
    }

    private async Task TesSukses()
    {
        //Pesan bawaan common.js
        //await JsRuntime.InvokeVoidAsync("ShowToastr", "sukses");

        //Pesan kustom
        await JsRuntime.InvokeVoidAsync("ShowToastr", "sukses","Telah Sukses");
    }
    private async Task TesGagal()
    {
        await JsRuntime.InvokeVoidAsync("ShowToastr", "gagal","Gagal");
    }
}
