@page "/DemoHotel"
@using Model


@*assingnment 3*@
<h3>Menampilkan Hotel Roms dengan amnetites </h3>
<div class="border p-2 mt-2" style="background-color:azure">
    <h2 class="text-info">Room List [USING COMPONENT]</h2>
    <span>Selected Rooms = @SelectedRooms</span>
    <div class="row container">
        @foreach (var room in RoomsList)
        {
            <IndividualRoom OnRoomCheckBoxSelection="RoomSelectionCounterChaged" Room="@room"></IndividualRoom>
        }
    </div><br />
    <h2 class="text-info">Hotel Amenities ASSIGNMENT 4</h2>
    <div class="row container">
        @foreach (var amenity in AmenityList)
        {
        <IndividualAmenity OnAmeniySelection="AmenitySelectionChanged" Amenity="@amenity">
            @*Assignment 6 start*@
            <KesatuFragment>#1 </KesatuFragment>
            <KeduaFragment>#2</KeduaFragment>
            @*Assignment 6 end*@
        </IndividualAmenity>
            
            
        }
    </div>
    <div class="col-12">
        <p class="text-secondary">Selected Amenity : @SelectedAmenity</p>
    </div>
</div>



@code {
    //deklarasi
    public int SelectedRooms { get; set; } = 0;
    public string SelectedAmenity { get; set; }
    List<BlazorRoom> RoomsList = new List<BlazorRoom>();
    List<Amenity> AmenityList = new List<Amenity>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        RoomsList.Add(new BlazorRoom()
        {
            Id = 201,
            RoomName = "Vila Suite 1 Bed",
            IsActive = true,
            Price = 499,
            RoomProps = new List<BlazorRoomProp>
    {
            new BlazorRoomProp{ Id=1, Name="Sq Pt",Value="330"},
            new BlazorRoomProp{ Id=2, Name="Occupancy",Value="4"},
            }
        });
        RoomsList.Add(new BlazorRoom()
        {
            Id = 301,
            RoomName = "Vila Suite 2 Bed",
            IsActive = true,
            Price = 599,
            RoomProps = new List<BlazorRoomProp>
    {
            new BlazorRoomProp{ Id=1, Name="Sq Pt",Value="500"},
            new BlazorRoomProp{ Id=2, Name="Occupancy",Value="6"},
            }
        });
        //Assigment 4
        AmenityList.Add(new Amenity()
        {
            Id = 111,
            Name = "Gym",
            Description = "fitur 24/7 gym"

        });
        AmenityList.Add(new Amenity()
        {
            Id = 222,
            Name = "Swimming Pool",
            Description = "Kolam Renang Luas"

        });
        AmenityList.Add(new Amenity()
        {
            Id = 333,
            Name = "Free BreakFast",
            Description = "makan sesukamu"

        });
    }
    protected void RoomSelectionCounterChaged(bool isRoomSelected)
    {
        if (isRoomSelected)
        {
            SelectedRooms++;
        }
        else
        {
            SelectedRooms--;
        }
    }

    //asignment 5

    protected void AmenitySelectionChanged(string amenity)
        {
        SelectedAmenity = amenity;
        }
}
