@page "/lifecycle"
@using System.Threading

<h3>Lifecycle</h3>

<div class="border">
    <LifecycleComponent CountValue="@currentCount"></LifecycleComponent>
</div>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<br />
@Count  <button @onclick="StartCountdown">Milai Countdown</button>
<br />

@foreach (var item in EventType)
{
    @item
    <hr />
}

@code {
    private int currentCount = 0;
    List<string> EventType = new List<string>();
    private int Count { get; set; } = 5;


    private void IncrementCount()
    {
        currentCount++;
    }


    protected override void OnInitialized()
    {
        EventType.Add("Oninitialized dipanggil");
    }
    protected override async Task OnInitializedAsync()
    {
        EventType.Add("OninitializedAsync dipanggil");
    }

    protected override void OnParametersSet()
    {
        EventType.Add("OnParametersSet dipanggil");
    }
    protected override async Task OnParametersSetAsync()
    {
        EventType.Add("OnParametersSetAsync dipanggil");
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            currentCount = 111;
        }
        else
        {
            currentCount = 999;
        }
        EventType.Add("OnAfterRender dipanggil");
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        EventType.Add("OnAfterRenderAsync dipanggil");
    }
    protected override bool ShouldRender()
    {
        EventType.Add("SholdRender dipanggil");
        return true;
    }

    void StartCountdown()
    {
        var timer = new Timer(TimeCallBack, null, 1000, 1000);
    }
    void TimeCallBack(object state)
    {
        if (Count > 0)
        {
            Count--;
            InvokeAsync(StateHasChanged);
        }
    }
}


