@page "/ParentComponent"

<h1 class="tect-danger">Parent ChildComponent</h1>

<ChildComponent Title="Ketikan (title-child) ini diisi sebagai parameter dari Parent Component">

    Ketikan ini adalah RenderFragment dari Parent Component
</ChildComponent>

<ChildComponent Title="Ketikan (title-child) ini diisi sebagai parameter dari Parent Component ke 2">
</ChildComponent>

@code {

}
