@page "/ParentComponent"

<h1 class="tect-danger">Parent ChildComponent</h1>

<ChildComponent OnClickBtnMethod="ShowMessage" Title="Ketikan (title-child) ini diisi sebagai parameter dari Parent Component"
                PesanUntukGrandChild="Pesan dari Parent">

    <ChildContent>Ketikan ini adalah RenderFragment dari Parent Component</ChildContent> 
    <DangerChildContent>DANGER ini adalah RenderFragment dari Parent Component </DangerChildContent>
</ChildComponent>
<AnotherChildComponent AtributInputan="AtributInputanDariParent" ></AnotherChildComponent>

<p><b>@messageText</b></p>

@code { 
    private string messageText = "";

    private void ShowMessage(MouseEventArgs e)
    {
        messageText = "text dari parent";
    }

    [Parameter]
    public Dictionary<string, object> AtributInputanDariParent { get; set; } = new Dictionary<string, object>()
    {
        {"required", "required" },
        {"placeholder", "Initial Text dari parent" },
        {"maxlength",3}
    };
}
