@page "/ParentComponent"

<h1 class="tect-danger">Parent ChildComponent</h1>

<ChildComponent OnClickBtnMethod="ShowMessage" Title="Ketikan (title-child) ini diisi sebagai parameter dari Parent Component">

    <ChildContent>Ketikan ini adalah RenderFragment dari Parent Component</ChildContent> 
    <DangerChildContent>DANGER ini adalah RenderFragment dari Parent Component </DangerChildContent>
</ChildComponent>
<AnotherChildComponent Placeholder="Masukkan Nama Room dari parent" ></AnotherChildComponent>

<p><b>@messageText</b></p>

@code { 
    private string messageText = "";

    private void ShowMessage(MouseEventArgs e)
    {
        messageText = "text dari parent";
    }
}
