@page "/ParentComponent"

<h1 class="tect-danger">Parent ChildComponent</h1>
<CascadingValue Value="@pesanUntukGrandChild" Name="PesanUntukGrandChild">
    <CascadingValue Value="@luckyNumber" Name="LuckyNumber">
        <ChildComponent OnClickBtnMethod="ShowMessage" Title="Ketikan (title-child) ini diisi sebagai parameter dari Parent Component">

            <ChildContent>Ketikan ini adalah RenderFragment dari Parent Component</ChildContent>
            <DangerChildContent>DANGER ini adalah RenderFragment dari Parent Component </DangerChildContent>
        </ChildComponent>
    </CascadingValue>
</CascadingValue>
<AnotherChildComponent AtributInputan="AtributInputanDariParent" ></AnotherChildComponent>

<p><b>@messageText</b></p>

@code { 
    private string pesanUntukGrandChild = "Pesan dari Parent cascade";
    private string luckyNumber = "5";
    private string messageText = "";

    private void ShowMessage(MouseEventArgs e)
    {
        messageText = "text dari parent";
    }

    [Parameter]
    public Dictionary<string, object> AtributInputanDariParent { get; set; } = new Dictionary<string, object>()
    {
        {"required", "required" },
        {"placeholder", "Initial Text dari parent" },
        {"maxlength",3}
    };
}
